{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Converter</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'converter/styles/converter.css' %}">
{% endblock %}

{% block content %}
<h1>Converter</h1>
<form action="{% url 'converter:converter' %}" method="post" class="converter">
    {% csrf_token %}
    {{ form }}
    <button class="submit-btn">Submit</button>
</form>
{% if result %}
    <p class="result">
        Converted amount: {{ hryvnias_amount }} UAH = {{ result }} {{ currency }}
    </p>
{% endif %}
{% endblock %}