{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block title %} {% endblock %}
    {% block links %} {% endblock %}
</head>

<body>
    <ul>
        <li><a href={% url "rates" %}>Rates</a></li>
        <li><a href={% url "users:login" %}>Login</a></li>
        <li><a href={% url "users:register" %}>Register</a></li>
        {% if user.is_authenticated %}
        <li><a href={% url "converter" %}>Converter</a></li>
        <li>
        <form action={% url "users:logout" %} method="post">
            {% csrf_token %}
            <button>Logout</button>
        </form>
        </li>
        {% endif %}
    </ul>
    {% block content %} {% endblock %}
</body>
</html>